/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
 
*/
/*cabeçalho*/
/*.cabeçalho {
     width: auto;
    min-height: 200px;
    background-image:url("img/coffeeTime_ImagemSombreada1.png") ;
}*/

.pesquisa input {
  height: 50px;
  border: none;
  outline: none;
  padding-left: 50px;
  width: 0;
  position: absolute;
  top: 100px;
  left: 60px;
  background: none;
  z-index: 3;
  transition: width 1s ease-out;
  cursor: pointer;
}
.pesquisa input:focus { 
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  z-index: 1;
  transition: width 1s ease-in;
}

.pesquisa button:focus {
  outline: none;
}
/* esconde o LABEL "Buscar" */
.pesquisa label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
    
}

a{
    color:aqua;
}
p{
    margin-left: auto;
}
/*Barra de Pesquisa*/


/*Estilo de Letra*/
@font-face{
    
    font-family: Comfortaa;
    src:url(letra/ComfortaaRegular.ttf);
}

/*Fotos da Equipe*/
.perfil{
    margin-top: 190px;
    
       display:inline; 
    float:left;
    
    text-decoration: overline ;
    text-decoration-color: rgb(176,125,87);
  
    color: burlywood; 
     width:25%;
    }

/*CORPO*/

#corpo1{
    text-align: justify;
    font-family: Comfortaa;
    font-size: 20px;
    color:darkgray;
    
}

#corpo2{

   text-align:center ;
    font-family: Comfortaa;
    color:#5b1a04; 
    border: 5px solid white;
    width: 600px;
    height: 150px;
    margin-left: auto;
    
}

#corpo3{
    margin-top: 200px;
    margin-bottom: 250px;
   text-align: center;
    font-family: Comfortaa;
    color:darkgray;  
    width:100%
}
 /*Caixa de Texto*/
#box1{
    width: 400px;
    height: 150px;
    padding: 2px;
    margin-left: 90px;
    border: 5px solid white;
}

#box2{
    
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid white; 
    position: absolute;
}

/*Estilo de Título*/
.titulo{
  text-decoration: underline;
  font-family: Comfortaa;
    font-size: 25px;
    color:#7d2709;  
}  




/*BOTÃO*/
.botao1{
  text-align: right;
  font-family: Comfortaa;
    color:chocolate;    
}

/*Botão de Pesquisa*/

/* Imagens*/

#fundo{
    background: url(img/clienteTela.png) no-repeat center center fixed;
    
    margin-top: -24px;
	padding-top: 900px;
    padding-bottom: 200px;

   
    
	background-attachment: inherit;
	background-position: center center;
	min-height: 650px;
	width: 100%;

   max-height:650px ;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    
}
#cabeçalho{
background: url(img/coffeeTime_ImagemSombreada1.png) no-repeat center center fixed;
	margin-top: -70px;
	padding-top: 250px;
    
	
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
   max-height:650px ;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
   font-family: Comfortaa;     /* FAZER MODIFICAÇÃO*/
        color: aliceblue;   
    
}

/*rodapé*/

#rodape {
    margin-top: 90px;
        /*margin:0 auto; *//*Centraliza a div */
        width:100%; /*Tamanho da div */
        font-family: Comfortaa;     /* FAZER MODIFICAÇÃO*/
        color: aliceblue;               /*FAZER MODIFICAÇÃO*/
        }

.coluna {
        display:inline; /*Evita o bug da margem duplicada*/
        float:left; /*Flutuando à esquerda*/
        width:33%;
        }

footer{
       width: 100%; 
       float: left; 
       padding: 2% 3%; 
       margin-top: 100px; 
       background-color: rgb(176,125,87); 
       border: 1px solid rgb(176,125,87);
       text-align: center; 
       cursor: pointer; 
       position: absolute;
}

footer a{
    padding-left: 10px;
    padding-right: 10px;
}




/*ESTILO MODAL LOGIN*/
 .modal-login {
		width: 350px;
     
	}
	.modal-login .modal-content {
		padding: 30px;
		border-radius: 40px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
        position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 1px; 
	}
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #3498db;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #248bd0;
	}
	.modal-login .hint-text a {
		color: #999;
	}
	
.form-group button{
    
    
    background:#6b3725;
    color: bisque;
    font-family: Comfortaa;
    font-size:14px;
    width:160px;
    height:50px;
    box-shadow: -20px 0 15px rgba(0, 0, 0, .2);
    Margin: 150px 146px 10px ;
    padding: 5px;
    
    
}

.form-group input{
    
    border: none;
    border-bottom-color: dimgrey;
    border-bottom: solid 1px #DDDDDD;
}


