html {
     background: url("img/I.png") no-repeat center center fixed;
     /*background-color: #d2a679;*/
 -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}

body 
{
    font-family: Comfortaa;
    background: #fff;
    text-align: center;
    width: auto;
    right: 35%;
    height: 800px;
    top: 150px;
    box-shadow: 20px 0 15px rgba(0, 0, 0, .2);
    position: absolute;
}

.tela 
{
    Width:600px;
    Height:700px;
    /*Margin 150px 0 0 480px;*/
    Padding-top:20px;
    Text-align:center;
    Border-radius:1400px;
}

.tela input
{
    display: block;
    Margin: 5px 10px 10px 130px;
    Width:330px;                        
    Padding:9px;
    Font-size: 18px;
    font-family: Comfortaa;
    background: #fff;
    color: #fff;
    border-width: 1px;
   

}

.tela label
{
    display: block;
   
    Margin: 5px 10px 10px 15px;
    Font-size:20px;
    color:#5b1a04;
    font-family: Comfortaa;
  

}

.tela button
{
    background:#6b3725;
    color: bisque;
    font-family: Comfortaa;
    font-size:18px;
    width:200px;
    height:45px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, .2);
    Margin: 60px 10px 10px 15px;
    padding: 5px;
    
}
 
h2
{
    font-family: Comfortaa;
    font-size: 200%;
    color:#6b3725;
    text-align: center;
}

h5 {
    font-family:Comfortaa ;
    font-size:140%;
    color: #5b1a04;
    text-align: center;
}

@font-face{
    
    font-family:Comfortaa;
    src:url(letra/ComfortaaRegular.ttf);
}
